@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#sideBarSec{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#oSideBarSec{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#topBar{
    width: 100%;
    height: 6%;
}

#containSec{
    width: 100%;
    height: 94%;
}

#logo{
    width: 80%;
}

#navSet{
    display: flex;
    flex-direction: row;
}

.nav-link{
    width: 200px;
}

.nav-link:hover{
    background-color: #6c757d !important;
}

#dashboardSec{
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#countsMainDiv{
    width: 100%;
    height: 120px;
    flex-direction: row;
}

.countDiv{
    width: 23%;
    height: 100%;
    box-shadow: 1px 2px 4px grey;
    border-radius: 5px;
    flex-direction: row;
}

.countNum{
    width: 70%;
    height: 100%;
}

.iconOfCount{
    width: 30%;
    height: 100%;
    font-size: 40px;
}

.topNavText{
    font-size: 22px;
    cursor: pointer;
}

.topNavText:hover{
    font-size: 24px;
}